<div class="bg-olympus-green-light h-_125 mb-1_1875 mt-2_6875-l"></div>

<div class="fade-in t-del-2">
    <!--   Winter Park   -->
    <p class="f4 jean-luc lrh-solid mb0">Winter Park</p>
    <div class="flex@25 justify-between">
      <p class="mt0">
          151 E. Welbourne Ave</br>
          <a class="no-underline white" href="tel:{{ .Site.Data.Winter_Park_Info.Phone }}">{{ site.Data.Winter_Park_Info.Phone }}</a>
      </p>
        
      <!--   Reservation Widget   -->
      <div style="margin-top:4px">
          <a href="https://resy.com/cities/orl/cocina214winterpark" id="resyButton-uk1lx0ui">Book your Cocina 214- Winter Park reservation on Resy</a>

          <script src="https://widgets.resy.com/embed.js"></script>

          <script>
          resyWidget.addButton(document.getElementById('resyButton-uk1lx0ui'), {"venueId":2897,"apiKey":"rf4w2sdQmokQblphxG5lbPPA4Wl6C2lD","replace":true});
          </script>
          <!--   End Reservation Widget   -->
      </div>
    </div>
    <!-- End Winter Park -->
    
</div>