{{ $singletons := slice
  "home"
  "about"
  "shop"
}}
{{ $entries := slice }}
{{ $s := newScratch }}
{{ if in $singletons "home" }}
  {{ with site.GetPage "/_index.md" }}
    {{ $entries = $entries | append (partial "transformers/documents/home" .) }}
  {{ end }}
{{ end }}

{{ if in $singletons "shop" }}
  {{ $entries = $entries | append (partial "transformers/documents/shop" site.Home) }}
{{ end }}

{{ if in $singletons "about" }}
  {{ with site.GetPage "/about" }}
    {{ $s := newScratch }}
    {{ $s.Set "data" dict }}
    {{ $s.SetInMap "data" "_type" "pageAbout" }}
    {{ $s.SetInMap "data" "_id" "pageAbout" }}
    {{ $s.SetInMap "data" "title" .Title  }}
    {{ with .Content }}
      {{ $s.SetInMap "data" "bodyHTML" . }}
    {{ end }}
    {{ $persons := slice }}
    {{ $staff := .Params.featured_staff | append .Params.staff }}
    {{ range $staff }}
      {{ $persons = $persons | append (dict
        "_type" "reference"
        "_ref" (print "staff_" .first_name | md5)  
      ) }}
    {{ end }}
    {{ $s.SetInMap "data" "persons" $persons }}
    {{ with partial "func/GetHero" . }}
      {{ $s.SetInMap "data" "hero" . }}
    {{ end }}
    {{ $entries = $entries | append ($s.Get "data")  }}
  {{ end }}
{{ end }}

{{ return $entries }}