{{ $entries := slice }}
{{ range slice 
  "Gift Card"
  "T-Shirt"
  "Tumbler"
}}
  {{ $slug := partial "func/Slugify" . }}
  {{ $id := partial "func/GetTermID" (dict
    "taxonomy" "taxonomyProductCategory"
    "term" $slug
  ) }}
  {{ $term := dict
  "title" (singularize .)
  "_id" $id
  "_type" "taxonomyProductCategory"
  "slug" (dict
    "_type" "slug"
    "current" $slug
  ) 
  }}
  {{ $entries = $entries | append $term }}
{{ end }}

{{ range slice 
  "Upcoming"
  "Current"
  "Past Events"
  "Awards"
  "Press"
}}
  {{ $slug := partial "func/Slugify" . }}
  {{ $id := partial "func/GetTermID" (dict
    "taxonomy" "taxonomyCategory"
    "term" $slug
  ) }}
  {{ $term := dict
  "title" .
  "_id" $id
  "_type" "taxonomyCategory"
  "slug" (dict
    "_type" "slug"
    "current" $slug
  ) 
  }}
  {{ $entries = $entries | append $term }}
{{ end }}

{{ return $entries }}