{{ $entries := slice }}
{{ $location := "Winter Park Florida" }}
{{ $entries = $entries | append (dict
  "_id" (md5 $location)
  "_type" "location"
  "title" $location
  "address_1" "151 E. Welbourne Avenue"
  "city" "Winter Park"
  "state" "Florida"
  "zip" "32789"
  "phone" "407. 790. 7997"
  "email" "info@cocina214.com"
  "resy_id" "2897"
  "coordinates" (dict
    "lat" 28.597058
    "lng" -81.350211
  )
  "google_map_url" "https://www.google.com/maps/place/Cocina+214/@28.596916,-81.3525747,17z/data=!3m1!4b1!4m5!3m4!1s0x88e7701a9984e623:0x16d50fb8ac0d377e!8m2!3d28.596916!4d-81.350386"
  "hours" (slice
    (dict
      "label" "Sunday - Thursday"
      "time" "11:30 am - 9:00 pm"
    )
    (dict
      "label" "Friday & Saturday"
      "time" "11:30 am – 10:00 pm"
  )
  )
) }}

{{ return $entries }}