/* --   Global Fonts   -- */
.snip-layout input[type=text], .snip-layout select {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family:"Work Sans", sans-serif;
    font-weight:500;
    height:36px!important
}
.snip-layout {
    color:rgb(118, 116, 116)/*#999696*/;
    font-family:"Work Sans", sans-serif;
    font-weight:500
}
.snip-layout .snip-form__label, .snip-layout .snip-static__link, .snip-layout .snip-actions__link {color: rgb(118, 116, 116);}

.snip-layout input, .snip-layout select {
    border:1px solid rgba(118, 116, 116,.7)!important;
    font-size:16px!important;
    font-weight:400!important;
}
#snip-country,#snipprovince,#snip-type,#snip-expirationMonth,#snip-expirationYear {
    background-image:url('../icons/snipcart/snipcart_select_background.svg');
    background-repeat:no-repeat;
    background-size:  20px 36px;
    background-position:center right;
    cursor:pointer;
}
/* Labels Don't Need Pointer on Hover */
.snip-form__label{cursor:default!important}
/* -- End Global Fonts -- */

/* Hide 'Powered by Snipcart' */
#snipcart-footer {display: none}

/* ---   Header   --- */
.snip-layout .snip-header {
    background:#fff;
    boorder-bottom:1px solid rgb(238,238,238)
}

/* Hide 'My Cart' in Header */
#snipcart-title.snip-header__title{display:none}
#snipcart-header-total{background-color:white;padding-top:6px;}
.snip-header__total-label{color:#2B2422!important;font-family:"JeanLuc"!important;font-size:16px!important;letter-spacing:.05em}
#snipcart-amount{
    color:#D18419;
    font-family:"JeanLuc", sans-serif!important;
    font-size:16px!important;
    letter-spacing:.05em
}
/* Close Cart Icons */
.snip-layout .snip-layout__close{top:16px}
.snip-layout .snip-ico--close:before {content: url("../icons/snipcart/close_black.svg")!important;}
.snip-layout .snip-ico--close:hover:before {content: url("../icons/snipcart/close_gray.svg")!important;}
/* --- End Header --- */


/* Remove items from cart icons */
.snip-product__remove.snip-ico.snip-ico--close{margin-top:5px}
.snip-product__remove.snip-ico.snip-ico--close:before {content:url("../icons/snipcart/close_gray.svg")!important;}
.snip-product__remove.snip-ico.snip-ico--close:hover:before {content:url("../icons/snipcart/close_black.svg")!important;}
@media screen and (min-width:48em) {
    .snip-product__remove.snip-ico.snip-ico--close{margin-top:-4px!important}
}

/* Hide Quantity, Unit, and Total */
#snipcart-items-header{display:none}
/* Hide Quantity, Unit, and Total */
#snipcart-items,.snip-product__name,.snip-quantity-trigger,.snip-table__cell--highlight,
#snipcart-show-discount-box{font-family:'Stag Book', sans-serif;font-weight:400!important;letter-spacing:.05em;text-transform: capitalize!important}

/* Show Product Thumbnail */
.snip-layout .snip-product__thumbnail{display:block;}
/* Hide Product Description */
.snip-product__description{display:none!important}


/* Plus/Minus Product Quantity Buttons */
.snip-quantity-trigger__btn.snip-quantity-trigger__btn--minus{margin-right:3px;padding-top:2px;padding-left:.5px;
margin-bottom:2px}
.snip-quantity-trigger__btn.snip-quantity-trigger__btn--add{margin-left:3px;padding-top:1px;padding-left:.5px;
margin-bottom:2px}
.snip-quantity-trigger__btn.snip-quantity-trigger__btn--minus,
.snip-quantity-trigger__btn.snip-quantity-trigger__btn--add{background:rgba(224, 222, 222, .4);}
.snip-quantity-trigger__btn.snip-quantity-trigger__btn--minus:hover,
.snip-quantity-trigger__btn.snip-quantity-trigger__btn--add:hover{background:rgba(224, 222, 222, .8);}
/* Plus/Minus Product Quantity Buttons */


/* ---   Next/Prev Action Buttons   --- */
.snip-actions > .snip-btn {
    border-radius:3px;
    font-family:"JeanLuc";
    letter-spacing:.1em;
    line-height:24px;
    color: #fff;
    height:32px;
    font-size:14px;
    padding-top:4px;
}
/* Next */
.snip-actions > .snip-btn--highlight {background-color:hsl(35, 79%, 46%)}
.snip-actions > .snip-btn--highlight:hover {background-color:hsl(35, 79%, 46%);opacity:.85}
/* Previous */
#snipcart-previous,.js-back.snip-btn.snip-btn--left{background-color:hsl(14, 12%, 22%);}
#snipcart-previous:hover,.js-back.snip-btn.snip-btn--left:hover{opacity:.85}
/* --- End Next/Prev Action Buttons --- */
/* ---   Discount   --- */
#snipcart-apply-discount {
    display: -webkit-box!important; display: -ms-flexbox!important; display: flex!important;
    -webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center;
    padding-left:18px!important;padding-right:18px!important;
}
.snip-form--discount, #snipcart-discounts-code{
    height:32px!important;
}
#snipcart-apply-discount > .snip-btn.snip-btn--right {
    background-color:hsl(14, 12%, 22%);
    font-size:14px;
    height:32px;
    margin-left:0px;
    padding-top:0px!important;
}
#snipcart-apply-discount > .snip-btn.snip-btn--right:hover {opacity:.85}
@media screen and (max-width:30em) {
    #snipcart-apply-discount > .snip-btn.snip-btn--right {
        max-width:152px;
        min-width:152px;
        -ms-flex: 1 0 auto;flex: 1 0 auto}
}
@media screen and (min-width:48em) {
    .snip-form--discount, #snipcart-discounts-code{
        height:36px!important;
    }
    #snipcart-apply-discount > .snip-btn.snip-btn--right {
        font-size:16px;
        height:36px;
        margin-left:0px;
        padding-top:0px!important;
    }
}
/* --- End Discount --- */

/* Step Icons */
.snip-layout .snip-step__item{background-color:/*e0dede*/#fff;color:/*#999696*/rgb(118, 116, 116);border-color:rgb(238,238,238)!important;margin-left:auto!important;margin-right:auto!important}
.snip-step__item.js-active > .snip-step__nb.snip-ico {color:#2b2422}
.snip-step__item.js-active{background-color:/*#e0dede*/#fff!important;}
/* End Step Icons

/* Loading bar */
.snip-layout .snip-loader--bar:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 30%;
    height: .3em;
    background-color:hsl(35, 79%, 46%);
    -webkit-animation: snip-loading 2s ease-in-out infinite;
    animation: snip-loading 2s ease-in-out infinite
}

/* Shipping method/shipping price */
.snip-layout .snip-table__header{padding-left:18px;padding-right:18px;}


/* Product photo/name */
.snip-table__cell--clear{display: -webkit-box!important; display: -ms-flexbox!important; display: flex!important;
-webkit-box-align: center; -ms-flex-align: center; align-items: center;border-bottom:0px!important}
@media screen and (max-width:48em) {
    /* Close Icons */
    #snipcart-close{right:14px}
    .snip-layout .snip-product__remove {
        position: absolute;
        right: 14px/*.28571em;*/;
        top: 2px;/*.57143em*/
    }
    /* Padding */
    #snipcart-header{padding-left:11px}
    .snip-table__item{padding-left:4px!important;padding-right:4px!important}
    .snip-col{padding-left:18px!important;padding-right:18px!important}
    /*#snipcart-discounts{padding-left:4px!important;padding-right:4px!important}*/
    #snipcart-actions,.snip-actions{padding-left:18px!important;padding-right:18px!important}
    /* Product photo/name */
    .snip-product__thumbnail{-ms-flex: 1 0 auto;flex: 1 0 auto;max-width:65px}
    .snip-product__name{font-size:14px!important;}
    /* Product size */
    .snip-customfields{padding-top:0!important}
    /* Product quantity */
    .snip-table__cell--center.snip-table__small-col{margin-top:0;padding-top:0!important}
    .snip-quantity-trigger{-webkit-box-pack: start!important; -ms-flex-pack: start!important; justify-content: flex-start!important;}
    /* Product Price */
    .snip-table__cell--right.snip-table__cell--highlight.snip-table__small-col{border:none;float:right;margin-top:0;text-align:right}
}
@media only screen and (min-width:48em) {
    /* Remove Header Bottom Border*/
    .snip-layout .snip-header {border-bottom:1px solid #fff}
    /* Adjust spacing of subtotal */
    #snipcart-header-total{padding-top:0;margin-top:33px;}
    .snip-header__total-label, #snipcart-amount{font-size:18px!important}
    .snip-actions > .snip-btn {
        font-size: 16px;
        height: 36px;
        padding-top:6px;
    }
    .snip-layout .snip-layout__close{top:12px;right:16px}

    /* Make sure custom fields always have min-width */
    .snip-customfields{min-width:136px}
    /* Align remove item icon with item title */
    .snip-table__item td:nth-child(6){pasdding-right:12px!important;max-width:53px;width:53px!important}
    .snip-product__remove.snip-ico.snip-ico--close{margin-top:-2px;margin-right:0!important}

    .snip-step__item{paddding-left:0!important;}
    .snip-step__item i{display:none!important}
    .snip-step__item p {font-size:.75rem!important;width:auto!important;margin-left:auto!important;margin-right:auto!important;letter-spacing:.025em}
    #snipcart-checkout-step{padding-left:0!important;}
    #snipcart-checkout-step i:before{content:" "}
    #snipcart-checkout-step p{margin-left:auto;margin-right:auto}


    .snip-product__name{margin-top:0px!important}
}
/*
.snip-layout .snip-btn--highlight {
    background: rgba(209,132,25,.9);
    color: #fff
}

.snip-layout .snip-btn--highlight:hover {
    background-color: #eadf4a
}*/


/* ---   Size   --- */
.snipcart-customfield-dropdown.snip-form__container--select.snip-form__container{display:-webkit-box;display:-ms-flexbox;display:flex;
-webkit-box-align:center;-ms-flex-align:center;align-items:center}
/* Label */
.snipcart-customfield-dropdown.snip-form__container--select.snip-form__container > .snip-form__label{
    color:#332b29;
    font-size:14px;
    margin-bottom:0! important;
    margin-right:.25rem;
    text-transform:none;
}
.snipcart-customfield-dropdown.snip-form__container--select.snip-form__container > .snip-form__label::after{
    content:': '
}
.snipcart-customfield-dropdown.snip-form__container--select.snip-form__container > .snip-form__label:hover{cursor:text!important}
/* Select */
#snipcart_custom_Size{padding:0!important;height:auto!important;font-family:'Stag Book';
font-size:14px!important;color:#332b29;letter-spacing: .05rem;border:none!important}
#snipcart_custom_Size:hover,#snipcart_custom_Size:focus{box-shadow:none!important;cursor:text}
/* --- End Size --- */


/* Form Errors */
.snip-form__error{background-color:rgba(238, 59, 59, .95)!important;
margin-top:.25rem!important}
/* Replacing #333 with brown */
.snip-layout input[type=password]:focus,
.snip-layout input[type=password]:hover,
.snip-layout input[type=text]:focus,
.snip-layout input[type=text]:hover,
.snip-layout select:focus,
.snip-layout select:hover {
    -webkit-box-shadow:0 0 2px rgba(209,132,25,.1) inset;
   -moz-box-shadow:0 0 2px rgba(209,132,25,.1) inset;
   box-shadow:0 0 2px rgba(209,132,25,.1) inset;
    border-color: rgba(209,132,25,.6)!important;
    -webkit-transition: border .15s ease;
    transition: border .15s ease;
}
.snip-layout .snip-flash__item {
    border-bottom: 1px solid #333;
}

.snip-layout .snip-layout__loading,
.snip-layout .snip-table .snip-table__cell__notices div.snip-table__cell__notices--warning,
.snip-layout .snip-table .snip-table__cell__notices div.snip-table__cell__notices--error,
.snip-layout .snip-table__loading,
.snip-layout .snip-table__cell--highlight,
.snip-layout .snip-product__name,
.snip-layout .snip-form__help,
.snip-layout .snip-step__item.js-active,
.snip-layout .snip-error__title,
.snip-layout .snip-static__title,
.snip-layout .snip-static__link:hover,
.snip-layout .snip-flash__item--success,
.snip-layout .snip-flash__item--warn,
.snip-layout .snip-badge--success,
.snip-layout .snip-badge--warn {
    color: #332b29
}





/* ------------------   Cart Section   ------------------ */
/*#snip-layout-cart-content > #snipcart-main-content > #snipcart-steps li {border-bottom:1px solid white!important}
/* Hide unit price */
#snip-layout-cart-content > #snipcart-main-content > #snipcart-sub-content > .snipcart-step > #snipcart-items > #snipcart-items-list > .snip-table__item > .snip-table__cell--right.snip-table__cell--bold.snip-table__small-col{display:none!important;}
@media screen and (max-width:48em){
    /* Product Price */
    #snip-layout-cart-content > #snipcart-main-content > #snipcart-sub-content > .snipcart-step > #snipcart-items > #snipcart-items-list > .snip-table__item > .snip-table__cell--right.snip-table__cell--highlight.snip-table__small-col{padding-top:3px!important}
}
/* ------------------ End Cart Section ------------------ */

/* ----------------   Checkout Section   ---------------- */
/* Hide unit price */
#snip-layout-order-confirm > #snipcart-main-content > #snipcart-sub-content > .snipcart-step > #snipcart-cart-content > div > #snipcart-items > #snipcart-items-list > .snip-table__item > .snip-table__cell--right.snip-table__cell--bold.snip-table__small-col{display:none!important}
/* Fees/Total */
#snip-layout-order-confirm > #snipcart-main-content > #snipcart-sub-content > .snipcart-step > #snipcart-cart-content > div > #snipcart-items > #snipcart-fees,
#snip-layout-order-confirm > #snipcart-main-content > #snipcart-sub-content > .snipcart-step > #snipcart-cart-content > div > #snipcart-items > #snipcart-total {font-family:'Work Sans',sans-serif}
@media screen and (max-width:48em){
    /* Product Price */
    #snip-layout-order-confirm > #snipcart-main-content > #snipcart-sub-content > .snipcart-step > #snipcart-cart-content > div > #snipcart-items > #snipcart-items-list > .snip-table__item > .snip-table__cell--right.snip-table__cell--highlight.snip-table__small-col{padding-top:0px!important}
}
@media screen and (min-width:48em){
    /* Show Unit Price Cell for Spacing */
    #snip-layout-order-confirm > #snipcart-main-content > #snipcart-sub-content > .snipcart-step > #snipcart-cart-content > div > #snipcart-items > #snipcart-items-list > .snip-table__item > .snip-table__cell--right.snip-table__cell--bold.snip-table__small-col{display:table-cell!important;color:white}
    /* Fees/Total */
    #snip-layout-order-confirm > #snipcart-main-content > #snipcart-sub-content > .snipcart-step > #snipcart-cart-content > div > #snipcart-items > #snipcart-fees,
    #snip-layout-order-confirm > #snipcart-main-content > #snipcart-sub-content > .snipcart-step > #snipcart-cart-content > div > #snipcart-items > #snipcart-total {padding-left:19px;padding-right:19px}
}
/* ---------------- End Checkout Section ---------------- */

/* -------------   Order Details Section   ------------- */
.snip-layout-order-details{}
/* ------------- End Order Details Section ------------- */

/* ---   Empty Cart   --- */
#snip-layout-empty-cart > #snipcart-main-content > #snipcart-header{display:none}
.snip-layout .snip-product__empty{font-family:"Stag Book",serif;font-family: 400;font-size: 1rem;letter-spacing: .05em;text-transform: none;padding-bottom:64px;padding-top:64px}
/* --- End Empty Cart --- */
