{{ define "main" }}
{{ partial "slider/styles" . }}

{{ partial "slider/markup" . }}

<main class="ph3-ns">
	<div class="center mw-66 ph3 section-animate  flex@48 justify-between@48   ph0-l">
		<div class="fade-in-right t-del-4 pb4 pt-3_6875  pl3-ns   w-50@48   pb-5-l pl4-l w-55-l   w-60@79">
			{{/* {{ partial "headline" . }} */}}


			{{ with .Params.intro }}
			<img src="{{ .image }}" alt="Cocina 214 mural">
			{{ end }}


			<h1 class="element-invisible">Mexican Kitchen &amp; Bar</h1>
		</div>
		<div
			class="fade-in-up t-del-6 f5 lh-2 mt-_1875 measure-wide nested-p pb-4_6875   ph3-ns   pl4@48 pr3@48 pt-2_3125 w-50@48   w-45-l   pl3@79 pr0@79 w-39@79">
			<p>{{ .Content }}</p>
			<a class="b--c-dark-brown ba bw1 c-dark-brown dib f-1_125 h-2_5 hover-theme-magenta hover-white jean-luc lh-1_5 link mt-_3125 ph4 pt-_375 tracked-narrow ttu"
				href="/about">Learn More</a>
		</div>
	</div>

	{{ with .Params.blocks }}
		{{ range $index, $v := . }}
				{{ $block := . }}
				{{ partial "tnd-blocks/block" (dict "Page" $ "block" $block) }}
		{{ end }}
	{{ end }}
	
</main>
{{ end }}