{{ define "main" }}

{{ partial "slider/styles" . }}

{{ partial "slider/markup" . }}

<main class=" ph3-ns">
    <h1 class="element-invisible">Loyalty Program</h1>

    <div class="section-animate theme-olympus-green mt2   mv3-ns   flex@53">
        <div class=" mb2 pb-5_3125 pr3 pt-3_5 tracked-narrow   mb3-ns pr4-ns   mb0@53 w-50@53   pr5-l   pr-7@79">
            <div class="fr@90 w-27@90">
                <h1 class="fade-in-right  f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu w-100 wrksns   f3-ns ml4-ns pt0-ns   fr@79 w-25@79">{{ .Params.content_section_1_title }}</h1>

                <!--   Divider   -->
                <div class="theme-magenta h-_125 mb-1_1875 mt-_3125 w-100   mt-_375-ns   fr@79"></div>
                <!-- End Divider -->

                <div class=" lh-2 ml3 white   ml4-ns   fr@79 w-25@79">
                    <div class="fade-in t-del-2  mb-2_6875 measure-wide nested-p">
                        {{ .Params.content_section_1 | markdownify }}

                        <a class="btn bw1 c-dark-brown dib f-1_125 h-2_5 hover-theme-magenta hover-white jean-luc lh-1_5 link mt-_3125 ph4 pt-_375 tracked-narrow ttu" href="https://cocinatwoonefour.alohaenterprise.com/memberlink/Login.html?companyID=cto02">Loyalty Sign-Up/Sign-In</a>

                        <br />

                        <a class="btn bw1 c-dark-brown dib f-1_125 h-2_5 hover-theme-magenta hover-white jean-luc lh-1_5 link mt-_3125 ph4 pt-_375 tracked-narrow ttu" href="/uploads/Club214_InfoCard_2021.pdf" style="margin-top:20px;">Download Info Card</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="h-20   h-30-ns   h-auto@53 w-50@53" style="background-image:url({{ .Params.section_1_image }});background-position:center center;background-size:cover"></div>
    </div>

    <div class="section-animate   flex flex-column-reverse mv2   mv3-ns   flex-row@53">
        <div class="h-20   h-30-ns    h-auto@53 w-50@53" style="background-image:url({{ .Params.section_2_image }});background-position:center center;background-size:cover"></div>

        <div class="theme-magenta pb-1_625 pt-3_5 tracked-narrow white   mb0@53 w-50@53   css-ie-flex-shrink">
            <h2 class="fade-in-right t-del-1 c-gold f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu wrksns   f3-ns ml4-ns pt0-ns   mr5-l   ml-7@79 w-25@79">{{ .Params.content_section_2_title }}</h2>

            <!--   Divider   -->
            <div class="theme-olympus-green h-_125 mb-1_1875 mr3 mt-_3125   mr4-ns mt-_375-ns   mr5-l   w-32@79   ml-5@90   w-27@90"></div>
            <!-- End Divider -->

            <div class="fade-in t-del-2   lh-2 mb-2_6875 measure-wide mh3 nested-p   mh4-ns   mr5-l   ml-7@79 w-25@79">
                {{ .Params.content_section_2 | markdownify }}
            </div>
        </div>
    </div>

    <div class="section-animate theme-olympus-green mt2   mv3-ns   flex@53">
        <div class=" mb2 pb-5_3125 pr3 pt-3_5 tracked-narrow   mb3-ns pr4-ns   mb0@53 w-50@53   pr5-l   pr-7@79">
            <div class="fr@90 w-27@90">
                <h1 class="fade-in-right  f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu w-100 wrksns   f3-ns ml4-ns pt0-ns   fr@79 w-25@79">{{ .Params.content_section_3_title }}</h1>

                <!--   Divider   -->
                <div class="theme-magenta h-_125 mb-1_1875 mt-_3125 w-100   mt-_375-ns   fr@79"></div>
                <!-- End Divider -->

                <div class=" lh-2 ml3 white   ml4-ns   fr@79 w-25@79">
                    <div class="fade-in t-del-2  mb-2_6875 measure-wide nested-p">
                        {{ .Params.content_section_3 | markdownify }}
                    </div>
                </div>
            </div>
        </div>

        <div class="h-20   h-30-ns   h-auto@53 w-50@53" style="background-image:url({{ .Params.section_3_image }});background-position:center center;background-size:cover"></div>
    </div>

    <div class="section-animate   flex flex-column-reverse mv2   mv3-ns   flex-row@53">
        <div class="h-20   h-30-ns    h-auto@53 w-50@53" style="background-image:url({{ .Params.section_4_image }});background-position:center center;background-size:cover"></div>

        <div class="theme-magenta pb-1_625 pt-3_5 tracked-narrow white   mb0@53 w-50@53   css-ie-flex-shrink">
            <h2 class="fade-in-right t-del-1 c-gold f4 fw6 lh-2 ml3 mv0 pt-_0625 tracked-narrow ttu wrksns   f3-ns ml4-ns pt0-ns   mr5-l   ml-7@79 w-25@79">{{ .Params.content_section_4_title }}</h2>

            <!--   Divider   -->
            <div class="theme-olympus-green h-_125 mb-1_1875 mr3 mt-_3125   mr4-ns mt-_375-ns   mr5-l   w-32@79   ml-5@90   w-27@90"></div>
            <!-- End Divider -->

            <div class="fade-in t-del-2   lh-2 mb-2_6875 measure-wide mh3 nested-p   mh4-ns   mr5-l   ml-7@79 w-25@79">
                {{ .Params.content_section_4 | markdownify }}
            </div>
        </div>
    </div>

</main>
{{ end }}
