/*Fade In Up*/
@keyframes fadeInUp {
 from {
 	opacity: 0;
 	transform: translate(0,10px);

 }
 to {
 	opacity: 1;
 	transform: translate(0,0);
 }
}


/*Fade In*/
@keyframes fadeIn {
 from {
 	opacity: 0;

 }
 to {
 	opacity: 1;
 }
}

/*Fade In Up*/
@keyframes fadeInUp {
 from {
 	opacity: 0;
 	transform: translate(0,8px);

 }
 to {
 	opacity: 1;
 	transform: translate(0,0);
 }
}
/*Fade In Left*/
/*@keyframes fadeInLeft {
 from {
 	opacity: 0;
 	transform: translate(40px,0);

 }
 to {
 	opacity: 1;
 	transform: translate(0,0);
 }
}
*/

/*Fade In Right*/
/*@keyframes fadeInRight {
 from {
 	opacity: 0;
 	transform: translate(-40px,0);

 }
 to {
 	opacity: 1;
 	transform: translate(0,0);
 }
}
*/
/*Scale Up*/
/*@keyframes scaleUp {
 from {
 	opacity: .15;
 	transform: scale(1.01);

 }
 to {
 	opacity: 1;
 	transform: scale(1);
 }
}*/

/*Lazyload*/
*[data-bg],
.lazyload {
	-webkit-transition: opacity 300ms ease-in-out;
	-o-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
}
.lazyload,
.lazyloading {
	opacity: 0;
}
.lazyloaded {
	opacity: 1;
	-webkit-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}
