:root {
  --magenta: rgba(148, 78, 129, 1);
  --magenta-light: #cea1c2;
  --magenta-dark: #452c4d;
  --olympus-green: rgba(62, 89, 92, 1);
  --olympus-green-light: #96d6dd;
  --lady-liberty: rgba(150, 210, 183, 1);
  --lady-liberty-dark: #4a6a5c;
}

.bg-olympus-green {
  background-color: var(--olympus-green);
}
.bg-bm-magenta {
  background-color: var(--magenta);
}
.bg-lady-liberty {
  background-color: var(--lady-liberty);
}

.bg-bm-magenta-dark {
  background-color: var(--magenta-dark);
}
.c-bm-magenta-dark {
  color: var(--magenta-dark);
}

.bg-olympus-green-light {
  background-color: var(--olympus-green-light);
}
.c-olympus-green-light {
  color: var(--olympus-green-light);
}

.bg-lady-liberty-dark {
  background-color: var(--lady-liberty-dark);
}
.c-lady-liberty-dark {
  color: var(--lady-liberty-dark);
}

.c-olympus-green {
  color: var(--olympus-green);
}
.c-bm-magenta {
  color: var(--magenta);
}
.c-lady-liberty {
  color: var(--lady-liberty);
}

/* THEMES */

/* MAGENTA */

.theme-magenta {
  background-color: var(--magenta);
  color: white;
}
.theme-magenta h2 {
  color: var(--magenta-light);
}
.theme-magenta h2 + div,
.theme-magenta h1 + div {
  background-color: var(--magenta-light);
}

.theme-magenta p {
  color: #340528;
  color: #d5afcb;
  color: white;
  line-height: 1.5;
}

.theme-magenta a:link,
.theme-magenta a:active,
.theme-magenta a:hover {
  color: black;
}
.theme-magenta a:visited {
  color: black;
}

.theme-magenta h3 {
  color: white;
}

.theme-magenta .online-ordering-btn,
.theme-magenta a.online-ordering-btn {
  background-color: var(--magenta-dark);
  color: white;
}

.theme-magenta a.online-ordering-btn:hover {
  background-color: var(--magenta-light);
  color: white;
}

/* OLYMPUS GREEN */

.theme-olympus-green {
  background-color: var(--olympus-green);
  color: var(--olympus-green-light);
}

.theme-olympus-green h1 + div,
.theme-olympus-green h2 + div {
  background-color: var(--olympus-green-light);
}

.theme-olympus-green p {
  color: white;
  /* line-height: 1.5; */
}

.theme-olympus-green a:link,
.theme-olympus-green a:active,
.theme-olympus-green a:hover {
  color: var(--olympus-green-light);
  color: white;
}
.theme-olympus-green a:visited {
  color: var(--olympus-green-light);
  color: white;
}

.theme-olympus-green h3 {
  color: white;
}

/* LADY LIBERTY */

.theme-lady-liberty {
  background-color: var(--lady-liberty);
  color: var(--lady-liberty-dark);
}
.theme-lady-liberty h2 + div {
  background-color: var(--lady-liberty-dark);
}
