/* --------------------------------------------- UTILITIES ---------------------------------------------- */
.b--c-dark-brown{border-color:#2B2422}
.b--c-gold{border-color:#D18419}
.b--c-gold-hover:hover{border-color:#D18419}
.b--c-red{border-color:#E63728}

.bg-black-01{background-color:rgba(0,0,0,.01)}
.bg-dark-brown{background-color:rgba(43,36,34,.98)}
.bg-gold{background-color:rgba(209,132,25,.9)}
.bg-putty{background-color:#E8E3D7}
.bg-red{background-color:rgba(238, 59, 59, .95)}
.bg-solid-red{background-color:#E63728}
.bg-white-95{background-color:rgba(255,255,255,.95)}

.c-dark-brown{color:#2B2422}
.c-gold{color:#D18419}
.c-putty{color:#E8E3D7}
.c-red{color:#E63728}


.f-_5{font-size:.5rem}
.f-1_0625{font-size:1.0625rem}
.f-1_125{font-size:1.125rem}
.f-1_5{font-size:1.25rem}
.font-bold{font-weight: 600;}
.lh-1_5{line-height: 1.5;}

.hover-no-underline:hover{text-decoration:none}

.h-_0625{height:.0625rem}
.h-_125{height:.125rem}
.h-_8125{height:.8125rem}
.h-1_75{heght:1.75rem}
.h-1_375{height:1.375rem}
.h-2_5{height:2.5rem}
.h-3{height:3rem}
.h-11{height:11rem}
.h-15{height:15rem}
.h-20{height:20rem}
.h-26{height:26rem}
.h-30{height:30rem}

.max-h-1_75{max-height:1.75rem}

.hover-b--c-red:hover{border-color:#E63728}
.hover-ba:hover{border-style:solid;border-width:1px}
.hover-bg-dark-brown:hover{background-color:#2B2422}
.hover-bg-gold:hover{background-color:#D18419}
.hover-bw1:hover{border-width:.125rem}
.hover-c-dark-brown:hover{color:#2B2422}
.hover-c-gold:hover{color:#D18419}
.hover-c-red:hover{color:#E63728}

.lh-1_3125{line-height:1.3125rem}
.lh-1_5{line-height:1.5rem}
.lh-1_75{line-height:1.75rem}
.lh-2{line-height:2rem}

.mb-_1875{margin-bottom:.1875rem}
.mb-_3125{margin-bottom:.3125rem}
.mb-_375{margin-bottom:.375rem}
.mb-_4375{margin-bottom:.4375rem}
.mb-_5625{margin-bottom:.5625rem}
.mb-_625{margin-bottom:.625rem}
.mb-_6875{margin-bottom:.6875rem}
.mb-_8125{margin-bottom:.8125rem}
.mb-_875{margin-bottom:.875rem}
.mb-1_1875{margin-bottom:1.1875rem}
.mb-1_25{margin-bottom:1.25rem}
.mb-1_3125{margin-bottom:1.3125rem}
.mb-1_375{margin-bottom:1.375rem}
.mb-1_5{margin-bottom:1.5rem}
.mb-1_625{margin-bottom:1.625rem}
.mb-1_6875{margin-bottom:1.6875rem}
.mb-1_75{margin-bottom:1.75rem}
.mb-1_9375{margin-bottom:1.9375rem}
.mb-2_0625{margin-bottom:2.0625rem}
.mb-2_1875{margin-bottom:2.1875rem}
.mb-2_375{margin-bottom:2.375rem}
.mb-2_6875{margin-bottom:2.6875rem}
.mb-2_8125{margin-bottom:2.8125rem}
.mb-2_875{margin-bottom:2.875rem}
.mb-3{margin-bottom:3rem}
.mb-3_125{margin-bottom:3.125rem}
.mb-3_8125{margin-bottom:3.8125rem}
.mb-4_75{margin-bottom:4.75rem}

.ml-_8125{margin-left:.8125rem}

.mr-3_5{margin-right:3.5rem}

.mt-_0625{margin-top:.0625rem}
.mt-_3125{margin-top:.3125rem}
.mt-_4375{margin-top:.4375rem}
.mt-_75{margin-top:.75rem}
.mt-1_625{margin-top:1.625rem}
.mt-1_8125{margin-top:1.8125rem}
.mt-1_9375{margin-top:1.9375rem}
.mt-2_1875{margin-top:2.1875rem}
.mt-2_3125{margin-top:2.3125rem}
.mt-2_4375{margin-top:2.4375rem}
.mt-2_8125{margin-top:2.8125rem}
.mt-3{margin-top:3rem}
.mt-4_75{margin-top:4.75rem}
.mt-5_5{margin-top:5.5rem}

.nb-_3125{margin-bottom:-.3125rem}

.nt-_1875{margin-top:-.1875rem}

.pb-1_625{padding-bottom:1.625rem}
.pb-3{padding-bottom:3rem}
.pb-3_1875{padding-bottom:3.1875rem}
.pb-4_25{padding-bottom:4.25rem}
.pb-4_3125{padding-bottom:4.3125rem}
.pb-5{padding-bottom:5rem}
.pb-5_3125{padding-bottom:5.3125rem}
.pb-5_5{padding-bottom:5.5rem}

.pt-_0625{padding-top:.0625rem}
.pt-_125{padding-top:.125rem}
.pt-_375{padding-top:.375rem}
.pt-2_3125{padding-top:2.3125rem}
.pt-2_5{padding-top:2.5rem}
.pt-3{padding-top:3rem}
.pt-3_5{padding-top:3.5rem}
.pt-3_6875{padding-top:3.6875rem}

.text-shadow { text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); }

.tracked-narrow{letter-spacing:.05em}

.w-_8125{width:.8125rem}
.w-1_625{width:1.625rem}
.w-1_75{width:1.75rem}
.w-3_5{width:3.5rem}
.w-3_75{width:3.75rem}
.w-8_5{width:8.5rem}
.w-12{width:12rem}
.w-18{width:18rem}
.w-48{width:48%}

.mw-64{max-width:64rem}
@media screen and (min-width:23em) {
    .f5\@23{font-size:1rem}
    .f4\@23{font-size:1.25rem}
}
@media screen and (min-width:25.875em) {
    .f6\@25{font-size:.875rem}

    .flex\@25{display:-webkit-box;display:-ms-flexbox;display:flex}
    .justify-between\@25{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
    .self-end\@25{-ms-flex-item-align:end;align-self:flex-end}

    .mb0\@25{margin-bottom:0}
    .mb5\@25{margin-bottom:2rem}

    .ml3\@25{margin-left:1rem}
    .ml4\@25{margin-left:1rem}

    .pb-3\@25{padding-bottom:3rem}

    .w-12\@25{width:12rem}
    .w-48\@25{width:48%}
}
@media screen and (min-width:30em) {
    .f-1_125-ns{font-size:1.125rem}
    .f-1_75-ns{font-size:1.75rem}

    .h3-ns{height:4rem}
    .h-25-ns{height:25rem}
    .h-28_5-ns{height:28.5rem}
    .h-30-ns{height:30rem}
    .h-37_5-ns{height:37.5rem}

    .lh-1_5-ns{line-height:1.5rem}
    .lh-1_75-ns{line-height:1.75rem}


    .mb-_0625-ns{margin-bottom:.0625rem}
    .mb-_375-ns{margin-bottom:.375rem}
    .mb2-ns{margin-bottom:.5rem}
    .mb-_625-ns{margin-bottom:.625rem}
    .mb-_9375-ns{margin-bottom:.9375rem}
    .mb-1_5-ns{margin-bottom:1.5rem}

    .mr-4_5-ns{margin-right:4.5rem}

    .mt-_3125-ns{margin-top:.3125rem}
    .mt-_375-ns{margin-top:.375rem}
    .mt-2_125-ns{margin-top:2.125rem}
    .mt5-ns{margin-top:4rem}
    .mt-6_5-ns{margin-top:6.5rem}

    .pb-3-ns{padding-bottom:3rem}

    .ph-3-ns {padding-left:3rem;padding-right:3rem}

    .pt0-ns{padding-top:0}
    .pt-2_125-ns{padding-top:2.125rem}

    .w-auto-ns{width:auto}
    .w-4_25-ns{width:4.25rem}
    .w-5_5-ns{width:5.5rem}
    .w-12-ns{width:12rem}

    .mw-5_5-ns{max-width:5.5rem}
    .mw-12-ns{max-width:12rem}
    .mw-27-ns{max-width:27em}
}
@media screen and (min-width:31em) {
    .justify-between\@31{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}

    .mb0\@31{margin-bottom:0}
    .mb-3_125\@31{margin-bottom:3.125rem}

    .w-auto\@31{width:auto}
}
@media screen and (min-width:40em) {
    .db\@40{display:block}

    .flex\@40{display:-webkit-box;display:-ms-flexbox;display:flex}
    .flex-row\@40{-webkit-box-orient:horizontal;-ms-flex-direction:row;flex-direction:row;}
    .flex-wrap\@40{-ms-flex-wrap:wrap;flex-wrap:wrap}
    .justify-between\@40{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}

    .mb0\@40{margin-bottom:0}
    .mb-1_5\@40{margin-bottom:1.5rem}

    .ml0\@40{margin-left:0}
    .ml2\@40{margin-left:.5rem}
    .ml4\@40{margin-left:2rem}

    .mr2\@40{margin-right:.5rem}

    .mt-_3125\@40{margin-top:.3125rem}

    .nt-_375\@40{margin-top:-.375rem}

    .pb-4_3125\@40{padding-bottom:4.3125rem}

    .w-48\@40{width:48%}
    .w-50\@40{width:50%}
    .w-60\@40{width:60%}
}
@media screen and (min-width:42em) {
    .f5\@42{font-size:1rem}
    .flex\@42{display:-webkit-box;display:-ms-flexbox;display:flex}
    .justify-between\@42{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
    .mr4\@42{margin-right:2rem}
    .pb3\@42{padding-bottom:1rem}
    .w-100\@42{width:100%}
}
@media screen and (min-width:43em) {
    .flex\@43{display:-webkit-box;display:-ms-flexbox;display:flex}
    .justify-between\@43{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}

    .mw-18_75\@43{max-width:18.75rem}
}
@media screen and (min-width:48em) {
    .mr-3\@48{margin-right:3rem}
}
@media screen and (min-width:49.75em) {
    .justify-start\@49{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}

    .ml-_75\@49{margin-left:.75rem}

    .pr4\@49{padding-right:2rem}

    .w-27\@49{width:27rem}
}
@media screen and (min-width:50em) {
    .bn\@50{border:none}

    .db\@50{display:block}
    .dn\@50{display:none}

    .flex\@50{display:-webkit-box;display:-ms-flexbox;display:flex}

    .ml3\@50{margin-left:1rem}
    .ml4\@50{margin-left:2rem}

    .mr3\@50{margin-right:1rem}

    .mt0\@50{margin-top:0}
    .mt-2_5\@50{margin-top:2.5rem}

    .pt-_125\@50{padding-top:.125rem}

    .static\@50{position:static}

    .w-48\@50{width:48%}
    .w-50\@50{width:50%}
}
@media screen and (min-width:53em) {
    .absolute\@53{position:absolute}

    .db\@53{display:block}
    .dn\@53{display:none}

    .flex\@53{display:-webkit-box;display:-ms-flexbox;display:flex}
    .flex-column\@53{-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column;-webkit-box-direction:normal}
    .flex-column-reverse\@53{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}
    .flex-row\@53{-webkit-box-orient:horizontal;-ms-flex-direction:row;flex-direction:row;}
    .flex-row-reverse\@53{flex-direction:row-reverse}
    .justify-between\@53{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
    .justify-start\@53{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}

    .h-auto\@53{height:auto}
    .h-43_6875\@53{height:43.6875rem}

    .mb0\@53{margin-bottom:0}
    .mb-2_625\@53{margin-bottom:2.625rem}
    .mb-2_8125\@53{margin-bottom:2.8125rem}
    .mb-2_875\@53{margin-bottom:2.875rem}
    .mb-6\@53{margin-bottom:6rem}

    .ml0\@53{margin-left:0}
    .ml3\@53{margin-left:1rem}

    .mt0\@53{margin-top:0}
    .mt1\@53{margin-top:.25rem}
    .mt4\@53{margin-top:2rem}
    .mt-3_5\@53{margin-top:3.5rem}
    .mt-3_625\@53{margin-top:3.625rem}
    .mt5\@53{margin-top:4rem}

    .nt-1_0625\@53{margin-top:-1.0625rem}

    .pb-3\@53{padding-bottom:3rem}
    .pb-6_5\@53{padding-bottom:6.5rem}

    .pl0\@53{padding-left:0}
    .pl3\@53{padding-left:1rem}

    .pr0\@53{padding-right:0}
    .pr3\@53{padding-right:1rem}
    .pr4\@53{padding-right:2rem}

    .pt-3_5\@53{padding-top:3.5rem}
    .pt-3_625\@53{padding-top:3.625rem}

    .w-auto\@53{width:auto}
    .w-45\@53{width:45%}
    .w-50\@53{width:50%}
    .w-55\@53{width:55%}
    .w-100\@53{width:100%}

    .mw-27\@53{max-width:27rem}
    .mw-100\@53{max-width:100%}
}
@media screen and (min-width:54em){
    .flex\@54{display:-webkit-box;display:-ms-flexbox;display:flex}

    .mb0\@54{margin-bottom:0}

    .w-50\@54{width:50%}

    .mw-26\@54{max-width:26rem}
}
@media screen and (min-width:56em) {
    .flex\@56{display:-webkit-box;display:-ms-flexbox;display:flex}
    .flex-column\@56{-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column}
    .flex-row\@56{-webkit-box-direction:normal}.flex-row\@56{-webkit-box-orient:horizontal;-ms-flex-direction:row;flex-direction:row}
    .justify-between\@56{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
    .mb0\@56{margin-bottom:0}
    .pb-3\@56{padding-bottom:3rem}
    .w-75\@56{width:75%}
}
@media screen and (min-width:59em) {
    .w-70\@59{width:70%}
}
@media screen and (min-width:60em) {
    .center-l{margin-left:auto;margin-right:auto}

    .db-l{display:block}

    .f-_5625-l{font-size:.5625rem}
    .f-1_0625-l{font-size:1.0625rem}

    .h-auto-l{height:auto}
    .h1-l{height:1rem}
    .h-1_8125-l{height:1.8125rem}
    .h-10_5-l{height:10.5rem}

    .min-h-28-l{min-height:28rem}
    .min-h-43-l{min-height:43rem}

    .mb0-l{margin-bottom:0}
    .mb-_375-l{margin-bottom:.375rem}
    .mb2-l{margin-bottom:.5rem}
    .mb-_625-l{margin-bottom:.625rem}
    .mb-3_8125-l{margin-bottom:3.8125rem}
    .mb-5-l{margin-bottom:5rem}

    .mr0-l{margin-right:0}

    .mt0-l{margin-top:0}
    .mt-_3125-l{margin-top:.3125rem}
    .mt-1_6875-l{margin-top:1.6875rem}
    .mb-1_9375-l{margin-bottom:1.9375rem}
    .mt-2_125-l{margin-top:2.125rem}
    .mt-2_6875-l{margin-top:2.6875rem}

    .pl4-l{padding-left:2rem}

    .pr0-l{padding-right:0}
    .pr5-l{padding-right:4rem}

    .pt0-l{padding-top:0}
    .pt-_1875-l{padding-top:.1875rem}
    .pt-1_25-l{padding-top:1.25rem}
    .pt-2_625-l{padding-top:2.625rem}

    .w-18_5-l{width:18.5rem}
    .w-50-l{width:50%}
    .w-64-l{width:64%}
    .w-100-l{width:100%}

    .w1-l{width:1rem}
    .w-1_8125-l{width:1.8125rem}
    .w-100-l{width:100%}

    .mw-18_5-l{max-width:18.5rem}
    .mw-26-l{max-width:26rem}
    .mw-72-l{max-width:72rem}
}
@media screen and (min-width:64em) {
    .mr0\@64{margin-right:0}
}
@media screen and (min-width:66.5em){
    .pl0\@66{padding-left:0}
    .w-38\@66{width:38rem}
}
@media screen and (min-width:70em) {
    .ph0\@70{padding-left:0;padding-right:0}
}
@media screen and (min-width:72em) {
    .flex\@72{display:-webkit-box;display:-ms-flexbox;display:flex}
    .justify-end\@72{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}

    .ml-5\@72{margin-left:5rem}

    .ph0\@72{padding-left:0;padding-right:0}

    .pr0\@72{padding-right:0}
    .pr5\@72{padding-right:4rem}

    .w-50\@72{width:50%}

    .mw-28\@72{max-width:28rem}
    .mw-64\@72{max-width:64rem}
}
@media screen and (min-width:79em) {
    .db\@79{display:block}

    .flex\@79{display:-webkit-box;display:-ms-flexbox;display:flex}
    .justify-end\@79{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}

    .fr\@79{float:right}

    .ml-7\@79{margin-left:7rem}

    .ph0\@79{padding-left:0;padding-right:0}

    .pl0\@79{padding-left:0}

    .pr-7\@79{padding-right:7rem}

    .w-25\@79{width:25rem}
    .w-31\@79{width:31rem}
    .w-32\@79{width:32rem}

    .mw-32\@79{max-width:32em}
    .mw-64\@79{max-width:64rem}
}
@media screen and (min-width:90em) {
    .flex\@90{display:-webkit-box;display:-ms-flexbox;display:flex}
    .justify-end\@90{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}

    .fr\@90{float:right}

    .ml-5\@90{margin-left:5rem}

    .w-27\@90{width:27rem}
    .w-30\@90{width:30em}
}
/* ------------------------------------------- END UTILITIES -------------------------------------------- */
