html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  max-width: 125rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
/* Prevent Blue Telephone Numbers in iOS Safari */
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}
.push-footer {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.css-ie-flex-shrink {
  -ms-flex: 0 1 auto;
}
.css-no-flex-shrink {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.nested-list > ul {
  margin-bottom: 1.5rem;
  margin-left: -1.5rem;
  margin-top: -1.5rem;
}
.nested-p > p {
  margin-bottom: 1.5rem;
  margin-top: 0;
  letter-spacing: 0.04em;
}
.css-arrow-link:hover::after {
  content: " »";
}
.css-back-arrow-link:hover::before {
  content: "« ";
}

.online-ordering-btn {
  color: white;
  background: rgb(255, 70, 45);
  background: rgb(209, 132, 25);
  border-radius: 5px;
  display: inline-flex;
  height: 50px;
  width: 200px;
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 0;
}
.online-ordering-btn:hover {
  background-color: rgb(194, 119, 16);
}

/* IE 10/11 Styles */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .css-ie-nt-3_9375 {
    margin-top: -3.9375rem;
  }
}
/* IE 10/11 Styles */

/*   About Portrait Grid Styles   */
.css-portrait-grid-item {
  width: 48%;
}
@media screen and (min-width: 30em) {
  .css-portrait-grid-item {
    width: 31.746031746%;
  }
}
@media screen and (min-width: 42em) {
  .css-featured-grid {
    max-width: 49.090909091%;
  }
  .css-featured-grid-item {
    width: 48.148148148%;
  }

  .css-portrait-grid-item {
    width: 23.6363636365%;
  }
}
@media screen and (min-width: 880px) {
  .css-featured-grid {
    max-width: 39.0625%;
  }
  .css-featured-grid-item {
    width: 48%;
  }

  .css-portrait-grid-item {
    width: 18.75%;
  }
}
/* End About Portrait Grid Styles */

/* ------------------------------------   Shop Product Grid Styles   ------------------------------------ */
/* --------- Add Phantom Grid Item ---------- */
.css-product-grid:after {
  content: "";
  display: block;
  margin-left: 48.2142857145%;
}
.css-product-grid-item {
  width: 48.2142857145%;
}
.css-product-grid-item__large {
  width: 100%;
}
@media screen and (min-width: 30em) {
  .css-product-grid:after {
    margin-left: 47.61904762%;
  }
  .css-product-grid-item {
    width: 47.61904762%;
  }
  .css-product-grid-item__large {
    width: 100%;
  }
}
@media screen and (min-width: 46em) {
  .css-product-grid:after {
    margin-left: 31.25%;
  }
  .css-product-grid-item {
    width: 31.25%;
  }
  .css-product-grid-item__large {
    width: 65.625%;
  }
}
/* ------------------------------------ End Shop Product Grid Styles ------------------------------------ */

/* ---------------------------------------   Product Page Styles   -------------------------------------- */
/* ----------------   Select Styles   ---------------- */
/* Select Styles
/* Hide dropdown select arrow in IE10/11 */
select::-ms-expand {
  display: none;
}
/* Custom select styling */
.css-select {
  background-image: url("../icons/select-background.svg");
  background-repeat: no-repeat;
  background-size: 8.25rem 2.25rem;
}
/* ---------------- End Select Styles ---------------- */
.custom-dim:hover {
  -webkit-transition: opacity 0.15s ease-in;
  transition: opacity 0.15s ease-in;
  opacity: 0.5;
}

/* ----------   Product Photo Grid Styles   ---------- */
/* Add border to selected photo */
.css-product-photo-grid-item-inner.active {
  border: 2px solid;
  border-color: rgba(209, 132, 25, 0.7);
}

.css-product-photo-grid-item-outer {
  width: 22.9910714283%;
}
.css-product-photo-grid-item-inner {
  margin-top: 11.65048544%;
}
@media screen and (min-width: 30em) {
  .css-product-photo-grid {
    margin-left: 0.75rem;
  }
  .css-product-photo-grid-item-outer {
    width: 100%;
  }
  .css-product-photo-grid-item-inner {
    margin-bottom: 15%;
    margin-top: 0;
  }
}
@media screen and (min-width: 53em) {
  .css-product-photo-grid {
    margin-left: 0;
  }
  .css-product-photo-grid-item-outer {
    margin-right: 2.777777778%;
    width: 18.51851852%;
  }
  .css-product-photo-grid-item-inner {
    margin-bottom: 0;
    margin-top: 15%;
  }
}
/* ---------- End Product Photo Grid Styles ---------- */
/* --------------------------------------- End Product Page Styles -------------------------------------- */

/* ---------------------------------------   Contact Page Styles   -------------------------------------- */
::placeholder {
  color: #aaa;
}

/* Howdy errors */
span.error {
  color: #e63728;
  display: block;
  font-size: 14px;
  margin-bottom: 25px;
  margin-top: -20px;
}
/* --------------------------------------- End Contact Page Styles -------------------------------------- */

/* -------------------------------------------   News Styles   ------------------------------------------ */
/*   Nested Link   */
.nested-link > p > a {
  color: #d18419;
  text-decoration: none;
  opacity: 1;
}
.nested-link > p > a {
  opacity: 1;
}
.nested-link > p > a,
.nested-link > p > a:focus,
.nested-link > p > a:hover {
  -webkit-transition: opacity 0.15s ease-in;
  transition: opacity 0.15s ease-in;
}
.nested-link > p > a:focus,
.nested-link > p > a:hover {
  opacity: 0.7;
}
/* End Nested Link */
/*   Video Embed   */
#video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
#video-container iframe,
#embed-container object,
#embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* End Video Embed */
/* ------------------------------------------- End News Styles ------------------------------------------ */

/* ------------------------------------------------ NAV ------------------------------------------------- */
/* ----   Snipcart Cart Icon on Large Displays   ----- */
.css-snipcart-checkout-large {
  background-image: url(/assets/icons/snipcart/cart_small.svg);
  background-size: 1.625rem 1.375rem;
  background-repeat: no-repeat;
}
@media screen and (min-width: 60em) {
  .css-snipcart-checkout-large {
    background-image: url(/assets/icons/snipcart/cart.svg);
    background-size: 1.8125rem 1.8125rem;
  }
}
/* ---- End Snipcart Cart Icon on Large Displays ----- */

.element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.js-nav {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}
.js-nav.is-visible {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.css-nav-logo {
  position: relative;
  z-index: 100;
  height: 0.8241758242rem;
  width: 10rem;
}
.css-nav-logo > img {
  height: 0.8241758242rem;
  width: 10rem;
}
.css-current-page-link {
  color: #2b2422;
}
@media screen and (min-width: 30em) {
  .css-nav-logo {
    height: 0.989010989rem;
    width: 12rem;
  }
  .css-nav-logo > img {
    height: 0.989010989rem;
    width: 12rem;
  }
}
@media screen and (min-width: 50em) {
  .css-current-page-link {
    margin-bottom: -0.25rem;
  }
  .css-current-page-link::after {
    margin-top: 0.125rem;
    background-color: #d18419;
    content: "";
    float: left;
    height: 0.0625rem;
    width: 99%;
  }
}
@media screen and (min-width: 50em) and (max-width: 60em) {
  .css-nav-logo {
    height: 1.3186813187rem;
    min-width: 186px;
    max-width: 186px;
  }
  .css-nav-logo > img {
    height: 1.3186813187rem;
    min-width: 186px;
    max-width: 186px;
  }
}
@media screen and (min-width: 60em) {
  .css-current-page-link {
    margin-bottom: -0.375rem;
  }
  .css-current-page-link::after {
    height: 0.125rem;
    margin-top: 0.1875rem;
  }
  .css-nav-logo {
    height: auto;
    width: 364px;
  }
  .css-nav-logo > img {
    height: 1.875rem;
    width: 364px;
  }
}
/* ---------------------------------------------- END NAV ----------------------------------------------- */

/* ---------------------------------------------   FOOTER   --------------------------------------------- */
.css-footer-logo {
  height: 16px;
  width: 4.95rem;
}
@media screen and (min-width: 30em) {
  .css-footer-logo {
    height: 1.25rem;
    width: 6.1875rem;
  }
}
@media screen and (min-width: 56em) {
  .css-footer-logo {
    height: 63px;
    width: 91px;
  }
}
/* Old Footer
.css-footer-logo{height:16px;width:4.95rem;}
@media screen and (min-width:30em) {
    .css-footer-logo{height:1.25rem;width:6.1875rem}
}
*/
/* --------------------------------------------- END FOOTER --------------------------------------------- */

.wrksns {
  font-family: "Work Sans", sans-serif;
}
.jean-luc {
  font-family: "JeanLuc", sans-serif;
}
.stag {
  font-family: "Stag Book", sans-serif;
  font-weight: 400;
}



.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 13% 75%;
}

@media screen and (min-width: 30em) {
    .bg-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 75%;
      }
      
}
