{{ $s := newScratch }}
{{ $s.Set "data" dict }}


{{ $s.SetInMap "data" "_type" "home" }}
{{ $s.SetInMap "data" "_id" "home" }}
{{ $s.SetInMap "data" "title" .Title }}
{{ with .Params.description }}
  {{ $s.SetInMap "data" "descriptionHTML" . }}
{{ end }}

{{ with .Content}}
  {{ $s.SetInMap "data" "bodyHTML" . }}
{{ end }}

{{ $blocks := slice }}

{{ $posts := slice }}
{{ range .Params.upcoming_events.events }}
  {{ $id := print "notice" .event_name "id" | md5 }}
  {{ $title := ""}}
  {{ with .event_links }}
    {{ with index . 0 }}
      {{ with .event_link_url }}
        {{ $path := replace . "https://cocina214.com" "" }}
        {{ $path = trim $path "/" }}
        {{ with site.GetPage $path }}
          {{ $title = "found" }}
          {{ $id = .File.UniqueID }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ $posts = $posts | append (dict
    "_type" "reference"
    "_ref" $id
  ) }}
{{ end }}

{{ $blocks = $blocks | append (dict
  "_type" "blocks/entries"
  "title" "Upcoming Events"
  "theme" "green"
  "entries" $posts
) }}

{{ with .Params.catering }}
  {{ $copySlice := slice ($.Page.RenderString .text) }}
  {{ $copySlice = $copySlice | append (partial "transformers/shortcode" (dict
    "_type" "blockLinks"
    "links" (slice
      (dict
        "copy" "Learn more"
        "url" "/dine"
      )
    )
  )) }}
  {{ $blockLinks := dict 
  "_type" "blockLinks" 
  "links" (slice 
    (dict
      "copy" "Pickup"
      "url" "https://cocina214.alohaorderonline.com/StartOrder.aspx?SelectMenu=2&SelectSite=1"
    )
    (dict
      "copy" "Delivery"
      "url" "https://cocina214.alohaorderonline.com/StartOrder.aspx?SelectMenu=3&SelectSite=1"
    )
  ) }}
  {{ $copySlice = $copySlice | append `<h3>Order Catering Online</h3>` }}
  {{ $copySlice = $copySlice | append ($.Page.RenderString site.Data.Catering.Description) }}
  {{ $copySlice = $copySlice | append (partial "transformers/shortcode" $blockLinks) }}
  {{ $blocks = $blocks | append (dict
    "_type" "blocks/section"
    "title" "Catering"
    "theme" "purple"
    "copyHTML" (delimit $copySlice "\n")
    "image" (partial "transformers/imageObject" .photo)
  ) }}
{{ end }}

{{ with .Params.private_dining }}
  {{ $copySlice := slice ($.Page.RenderString .text) }}
  {{ $blocks = $blocks | append (dict
    "_type" "blocks/section"
    "title" "Private Dining"
    "theme" "teal"
    "copyHTML" (delimit $copySlice "\n")
    "image" (partial "transformers/imageObject" .photo)
  ) }}
{{ end }}


{{ $s.SetInMap "data" "blocks" $blocks }}

{{ with partial "func/GetHero" . }}
  {{ $s.SetInMap "data" "hero" . }}
{{ end }}

{{ return $s.Get "data" }}