{{ $s := newScratch }}
{{ $s.Set "data" dict }}
{{ $type := "post" }}
{{ if eq $.Type "chairs" }}
  {{ $type = "chair" }}
{{ end }}
{{ $s.SetInMap "data" "_type" $type }}
{{ $s.SetInMap "data" "title" .Title }}
{{ $s.SetInMap "data" "_id" (partial "func/GetID" $) }}
{{ with partial "func/GetAssociation" . }}
  {{ $s.SetInMap "data" "association" . }}
{{ end }}

{{ $s.SetInMap "data" "slug" (partial "transformers/slug" .) }}


{{ with .Params.description }}
  {{ $s.SetInMap "data" "descriptionHTML" ($.Page.RenderString .) }}
{{ else }}
  {{ $s.SetInMap "data" "descriptionHTML" ($.Summary) }}
{{ end }}

{{ with .Date }}
  {{ $s.SetInMap "data" "publishedAt" . }}
{{ end }}

{{ with .Content }}
  {{ $s.SetInMap "data" "bodyHTML" . }}
{{ end }}

{{ with .Params.featured_photo }}
  {{ with partial "transformers/imageObject" . }}
    {{ $image := . }}
    {{ with $.Params.image_credit }}
      {{ $image = merge $image (dict "caption" .) }}
    {{ end }}
    {{ $s.SetInMap "data" "image" $image }}
  {{ end }}
{{ end }}

{{ $single_taxonomies := slice
  (dict 
    "name" "category" 
    "type" "taxonomyCategory"
    "field" "taxonomyCategories"
  )
}}
{{ range $taxo := $single_taxonomies }}
  {{ with partial "transformers/terms" (dict
    "Page" $
    "taxonomy" $taxo.name
  ) }}
    {{ $s.SetInMap "data" $taxo.field .  }}
  {{ end }}
{{ end }}

{{ with .Params.additional_info }}
  {{ $s.SetInMap "data" "additional_info" . }}
{{ end }}

{{ with .Params.galleries }}
  {{ with partial "transformers/gallery" . }}
    {{ $s.SetInMap "data" "gallery" . }}
  {{ end }}
{{ end }}

{{ with .Params.seo }}
  {{ with partial "transformers/seo" . }}
    {{ $s.SetInMap "data" "seo" . }}
  {{ end }}
{{ end }}

{{ return $s.Get "data" }}
