<footer class="section-animate bg-putty f7 fw6 pb-3 ph3 pt-2_5 tc tracked-narrow ttu wrksns   f6-ns ph4-ns">
    <img alt="" class="fade-in   link mb4 mt-_75   css-footer-logo" src="{{ .Site.BaseURL }}/assets/logos/logo_small.svg" />
    <div class="fade-in t-del-1 center flex h-1_75 justify-between mb4 w4" style="max-height:1.75rem">
        <a class=" c-dark-brown db h-1_75 hover-c-gold link w-1_75   css-ie-nt-3_9375" href="https://twitter.com">
            <svg class="h-1_75 w-1_75" style="fill:currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <path d="M8,0a8,8,0,1,0,8,8A8,8,0,0,0,8,0Zm3.63,6.17c0,.08,0,.16,0,.24a5.23,5.23,0,0,1-8,4.4l.44,0a3.69,3.69,0,0,0,2.28-.79A1.84,1.84,0,0,1,4.57,8.78a1.84,1.84,0,0,0,.83,0,1.84,1.84,0,0,1-1.47-1.8v0a1.83,1.83,0,0,0,.83.23A1.84,1.84,0,0,1,4.19,4.7,5.22,5.22,0,0,0,8,6.62,1.89,1.89,0,0,1,8,5.9a1.84,1.84,0,0,1,3.16-1,3.68,3.68,0,0,0,1.17-.45,1.84,1.84,0,0,1-.81,1,3.67,3.67,0,0,0,1.06-.29A3.73,3.73,0,0,1,11.61,6.17Z" transform="translate(0.02 0)"/>
            </svg>
        </a>
        <a class="c-dark-brown db h-1_75 hover-c-gold link w-1_75   css-ie-nt-3_9375" href="https://facebook.com">
            <svg class="h-1_75 w-1_75" style="fill:currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <path class="st0" d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm4.6 11.9c0 .3-.2.5-.5.5H9.7V8.9h1.1l.2-1.1H9.7v-1c0-.4.6-.8.6-.8h.6V4.9c-.4 0-.7-.1-1.1-.1-.9-.1-1.7.6-1.8 1.5v1.5h-.6v1.1H8v3.4H3.9c-.3 0-.5-.2-.5-.5V4.2c0-.3.2-.5.5-.5h8.2c.3 0 .5.2.5.5v7.7z"/>
            </svg>
        </a>
        <a class="c-dark-brown db h-1_75 hover-c-gold link w-1_75   css-ie-nt-3_9375" href="https://instagram.com">
            <svg class="h-1_75 w-1_75" style="fill:currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <path class="cls-1" d="M10.79 7.86a2.72 2.72 0 0 1-3 2.66A2.8 2.8 0 0 1 5.7 9.19a2.44 2.44 0 0 1-.31-2h-.78v3.66a.34.34 0 0 0 .37.35h6.18a.34.34 0 0 0 .34-.34V7.19h-.78a2.61 2.61 0 0 1 .07.67z"/>
                <rect class="cls-1" x="9.77" y="4.33" width="1.72" height="1.72" rx=".34" ry=".34"/>
                <circle class="cls-1" cx="8" cy="8" r="1.72"/>
                <path class="cls-1" d="M7.98 0a8 8 0 1 0 8 8 8 8 0 0 0-8-8zm3.59 12.34H4.5a1 1 0 0 1-1-1V4.22a1 1 0 0 1 1-1h7.09a1 1 0 0 1 1 1v7.09a1 1 0 0 1-1 1.03z"/>
            </svg>
        </a>
    </div>
    <div class="fade-in t-del-2">
        <a class="c-dark-brown db hover-c-gold lh-title link mv0 pb3" href="mailto:info@cocina214.com">info@cocina214.com</a>
        <a class="c-dark-brown db hover-c-gold lh-title link mv0 pb3" href="https://www.google.com/maps/place/Cocina+214/@28.596916,-81.3525747,17z/data=!3m1!4b1!4m5!3m4!1s0x88e7701a9984e623:0x16d50fb8ac0d377e!8m2!3d28.596916!4d-81.350386">151 Welbourne Ave East, Winter Park, FL 32789</a>
        <a class="c-dark-brown db hover-c-gold lh-title link mv0 pb3" href="tel:407-790-7997">407 . 790 . 7997</a>
    </div>

    <p class="fade-in t-del-3 c-dark-brown lh-title mv0">&copy; <script type="text/javascript"> document.write(new Date().getFullYear()); </script> Cocina 214 WP LLP</p>

</footer>
