<div class="     mb-3 w-100   mw-18_75@43   mb0@56">
    <p class="f-1_0625 mb-_625 mt-_0625">Winter Park</p>

    <!--   Divider   -->
    <div class="bg-dark-brown h-_125 mb-1_1875 mt0"></div>
    <!-- End Divider -->

    <!--   Address   -->
    <div class="fade-in">
        <a class="c-dark-brown db hover-c-gold link mb-1_5 mt0" href="{{ .Site.Data.Winter_Park_Info.Address.google_maps_url }}">{{ .Site.Data.Winter_Park_Info.Address.part_one }}<br>{{ .Site.Data.Winter_Park_Info.Address.part_two }}</a>
        <a class="c-dark-brown db hover-c-gold lh-title link mb0 mt0" href="mailto:{{ .Site.Data.Winter_Park_Info.Email }}">{{ .Site.Data.Winter_Park_Info.Email }}</a>
        <a class="c-dark-brown db hover-c-gold lh-title link mb4" href="tel:{{ .Site.Data.Winter_Park_Info.Phone }}">{{ .Site.Data.Winter_Park_Info.Phone }}</a>
    </div>
    <!-- End Address -->

    <!--   Social   -->
    <div class="flex h-1_75 justify-between max-h-1_75 w4">
        <a class=" c-dark-brown db h-1_75 hover-c-gold link w-1_75   css-ie-nt-3_9375" href="{{ .Site.Data.Winter_Park_Info.Social_Media.twitter }}">
            {{ partial "social/twitter" }}
        </a>
        <a class="c-dark-brown db h-1_75 hover-c-gold link w-1_75   css-ie-nt-3_9375" href="{{ .Site.Data.Winter_Park_Info.Social_Media.facebook }}">
            {{ partial "social/facebook" }}
        </a>
        <a class="c-dark-brown db h-1_75 hover-c-gold link w-1_75   css-ie-nt-3_9375" href="{{ .Site.Data.Winter_Park_Info.Social_Media.instagram }}">
            {{ partial "social/instagram" }}
        </a>
    </div>
    <!-- End Social -->
</div>
