<footer class="section-animate bg-putty bgg-black-40 f6 fw6 pb4 ph3 pt-3 tracked-narrow ttu wrksns   f6-ns ph4-ns   pb-3@56">
    <div class="center flex flex-column-reverse mw-64   flex@56 flex-row@56 justify-between@56">
        <div class="flex justify-between   flex-column@56">
            <picture>
                <source media="(min-width: 56rem)" srcset="{{ .Site.BaseURL }}/assets/logos/footer_logo.svg" />
                <img alt="" class="   css-footer-logo" src="{{ .Site.BaseURL }}/assets/logos/logo_small.svg" />
            </picture>

            <p class=" f7 c-gold lh-solid mv0   self-end">&copy; <script type="text/javascript"> document.write(new Date().getFullYear()); </script> Cocina 214 WP LLP</p>
        </div>
        <div class="w-100   flex@43 justify-between@43   w-75@56   w-70@59">
            {{ partial "footer_daytona_beach" . }}

            {{ partial "footer_winter_park" . }}
        </div>
    </div>
</footer>
