<!--   Post Categories   -->
<div class="news-categories center ph3   ph4-ns   ph5-l   mw-64@79 ph0@79">
    <!--   Divider   -->
    <div class="bg-dark-brown h-_125 mb3 mt0   mb-_9375-ns   mb-1_9375-l"></div>
    <!-- End Divider -->

    <!--   Category List   -->
    <div class="news-categories_links t-del-7 flex flex-wrap mb-2_375   justify-between@31 mb-3_125@31   mb-2_625@53   ph5-l">
        <a class="{{ if eq .Title "News" }}c-gold{{else}} c-dark-brown{{ end }} db f6 hover-c-gold lh-1_3125 link mb-_6875 mt0 ph0 pointer stag tc tracked-narrow w-third   f5-ns   mb0@31 w-auto@31" href="/news">All</a>

        <a class="{{ if eq .Title "News: Upcoming" }}c-gold{{else}} c-dark-brown{{ end }} db f6 hover-c-gold lh-1_3125 link mb-_6875 mt0 ph0 pointer stag tc tracked-narrow w-third   f5-ns   mb0@31 w-auto@31" href="/news/upcoming">Upcoming</a>

        <a class="{{ if eq .Title "News: Current" }}c-gold{{else}} c-dark-brown{{ end }} db f6 hover-c-gold lh-1_3125 link mb-_6875 mt0 ph0 pointer stag tc tracked-narrow w-third   f5-ns   mb0@31 w-auto@31" href="/news/current">Current</a>

        <a class="{{ if eq .Title "News: Past Events" }}c-gold{{else}} c-dark-brown{{ end }} db f6 hover-c-gold lh-1_3125 link mb-_6875 mt0 ph0 pointer stag tc tracked-narrow w-third   f5-ns   mb0@31 w-auto@31" href="/news/past-events">Past Events</a>

        <a class="{{ if eq .Title "News: Awards" }}c-gold{{else}} c-dark-brown{{ end }} db f6 hover-c-gold lh-1_3125 link mb-_6875 mt0 ph0 pointer stag tc tracked-narrow w-third   f5-ns   mb0@31 w-auto@31" href="/news/awards">Awards</a>

        {{/*  <a class="{{ if eq .Title "News: Press" }}c-gold{{else}} c-dark-brown{{ end }} db f6 hover-c-gold lh-1_3125 link mb-_6875 mt0 ph0 pointer stag tc tracked-narrow w-third   f5-ns   mb0@31 w-auto@31" href="/news/press">Press</a>  */}}
    </div>
    <!-- End Category List -->
</div>
<!-- End Post Categories -->
