<h3 class="mt5 f4 jean-luc mb1">{{ .Site.Data.Catering.Heading }}</h3>
<p>{{ .Site.Data.Catering.Description }}</p>
<div class="flex flex-wrap nt2">
    <a class="b--white ba bw1 dib f-1_125 h-2_5 hover-bg-white hover-c-dark-brown jean-luc lh-1_5 link mt3 mr3 ph4 pt-_375 tracked-narrow ttu white" href="https://cocina214.alohaorderonline.com/StartOrder.aspx?SelectMenu=2&SelectSite=1" target="_blank">Pickup</a>
    <a class="b--white ba bw1 db f-1_125 h-2_5 hover-bg-white hover-c-dark-brown jean-luc lh-1_5 link mt3 ph4 pt-_375 tracked-narrow ttu white" href="https://cocina214.alohaorderonline.com/StartOrder.aspx?SelectMenu=3&SelectSite=1" target="_blank">Delivery</a>
</div>